<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="goToPreviousPage()">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of numberOfPages | convertToArray">
      <a
        class="page-link"
        [ngClass]="addActivePageClass(page)"
        (click)="setSelectedPageIndex(page)"
        >{{ page }}</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" (click)="goToNextPage()">Next</a>
    </li>
  </ul>
</nav>
