<!--  -->
<nav class="nav-bar">
  <div class="nav-menu-container">
    <div class="nav-mobile-menu" (click)="toggleMenuBar()">
      <fx-icons
        iconName="AppMobileMenu"
        [iconWidth]="50"
        [iconHeight]="50"
      ></fx-icons>
    </div>
    <fx-icons iconName="AppIcon" [iconWidth]="80" [iconHeight]="80"></fx-icons>
    <div class="nav-menu-item-container" *ngIf="showNavMenus">
      <fx-label textType="rounded-menu-link" routerLink="/home" textColor="blue"
        >Home</fx-label
      >
      <fx-label
        textType="rounded-menu-link"
        routerLink="/gallery"
        textColor="blue"
        >Gallery</fx-label
      >
      <fx-label
        textType="rounded-menu-link"
        routerLink="/others"
        textColor="blue"
        >Others</fx-label
      >

      <!-- <a class="nav-link">Home</a>
      <a class="nav-link">Gallery</a>
      <a class="nav-link">Others</a> -->
    </div>
    <span class="cart-container">
      <fx-icons
        iconName="CartIcon"
        [iconWidth]="57"
        [iconHeight]="55"
      ></fx-icons>
      <fx-label textType="cart-count-label" textColor="#002A41">
        {{ cartService.totalItemsCountInCart }}
      </fx-label></span
    >
  </div>
</nav>
<div class="nav-bar-mobile-menu" [ngClass]="getClassForToggleMenu()">
  <div class="nav-bar-sub-container">
    <fx-label
      (click)="toggleMenuBar()"
      textType="rounded-menu-link"
      routerLink="/home"
      textColor="blue"
      >Home</fx-label
    >
    <fx-label
      (click)="toggleMenuBar()"
      textType="rounded-menu-link"
      routerLink="/gallery"
      textColor="blue"
      >Gallery</fx-label
    >
    <fx-label
      (click)="toggleMenuBar()"
      textType="rounded-menu-link"
      routerLink="/others"
      textColor="blue"
      >Others</fx-label
    >
    <fx-label
      (click)="toggleMenuBar()"
      textType="rounded-menu-link"
      routerLink="/others"
      textColor="blue"
      >1</fx-label
    >
  </div>
</div>
