<!-- <p>login</p>
<fx-button [hoverEffect]="true" [roundedCorners]="true" [buttonType]="'error'">Error Button</fx-button>
<fx-button [roundedCorners]="true" [buttonType]="'success'">Success Button</fx-button> -->

<!-- <fx-label><p>This is a sample text</p></fx-label>
<fx-label [textType]="'link-text'">This is a link</fx-label>
<fx-label>Lorem ipsum dolor sit amet, consect</fx-label> -->
<!--
<input-box [inputType]="'text'" [placeHolder]="'Text box'" [headerText]="'UserName'"></input-box>
<input-box [inputType]="'text'" [placeHolder]="'password box'" ></input-box> -->

<div class="login-master-container">
  <div class="login-container">
    <fx-label [isJumboText]="true" [textColor]="'white'" >Login</fx-label>
    <input-box [headerTextColor]="'white'" [inputType]="'text'" [placeHolder]="'username'" [headerText]="'username'"></input-box>
    <input-box [headerTextColor]="'white'" [inputType]="'password'" [placeHolder]="'password'" [headerText]="'password'"></input-box>
    <div>
      <fx-button [roundedCorners]="true" [buttonType]="'primary'">Submit</fx-button>
    </div>

  </div>

</div>


